<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../style/selectionPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <h3>Welcome, choose your province</h3>
    <div class="card-row">
        <!-- 1 -->
        <a href="../learn/learnPage.php">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingBali.jpg" alt="">
                    <h2>Provinsi Bali</h2>
                </div>
            </div>
        </a>

        <!-- 2 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingJateng.jpeg" alt="">
                    <h2>Provinsi Jawa Tengah</h2>
                </div>
            </div>
        </a>

        <!-- 3 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingAceh.jpeg" alt="">
                    <h2>Provinsi Aceh</h2>
                </div>
            </div>
        </a>
 
        <!-- 4 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingSumUt.jpeg" alt="">
                    <h2>Provinsi Sumatera Utara</h2>
                </div>
            </div>
        </a>

        <!-- 5 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingSumBar.jpeg" alt="">
                    <h2>Provinsi Sumatera Barat</h2>
                </div>
            </div>
        </a>

        <!-- 6 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingSumSel.jpeg" alt="">
                    <h2 class="decrease">Provinsi Sumatera Selatan</h2>
                </div>
            </div>
        </a>

        <!-- 7 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingBengkulu.jpeg" alt="">
                    <h2>Provinsi Bengkulu</h2>
                </div>
            </div>
        </a>

        <!-- 8 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingRiau.jpeg" alt="">
                    <h2>Provinsi Riau</h2>
                </div>
            </div>
        </a>

        <!-- 9 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingKepRi.jpg" alt="">
                    <h2>Provinsi Kepulauan Riau</h2>
                </div>
            </div>
        </a>

        <!-- 10 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingJambi.jpg" alt="">
                    <h2>Provinsi Jambi</h2>
                </div>
            </div>
        </a>

        <!-- 11 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingLampung.jpeg" alt="">
                    <h2>Provinsi Lampung</h2>
                </div>
            </div>
        </a>

        <!-- 12 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingBaBel.jpg" alt="">
                    <h2>Provinsi Bangka Belitung</h2>
                </div>
            </div>
        </a>

        <!-- 13 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingJakarta.jpeg" alt="">
                    <h2>Provinsi DKI Jakarta</h2>
                </div>
            </div>
        </a>

        <!-- 14 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingBanten.png" alt="">
                    <h2>Provinsi Banten</h2>
                </div>
            </div>
        </a>

        <!-- 15 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingJaBar.png" alt="">
                    <h2>Provinsi Jawa Barat</h2>
                </div>
            </div>
        </a>

        <!-- 16 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingJogja.jpg" alt="">
                    <h2>Provinsi DI Yogyakarta</h2>
                </div>
            </div>
        </a>

        <!-- 17 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingJaTim.jpg" alt="">
                    <h2>Provinsi Jawa Timur</h2>
                </div>
            </div>
        </a>

        <!-- 18 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingKalUt.jpeg" alt="">
                    <h2 class="decrease">Provinsi Kalimantan Utara</h2>
                </div>
            </div>
        </a>

        <!-- 19 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingKalTim.jpg" alt="">
                    <h2 class="decrease">Provinsi Kalimantan Timur</h2>
                </div>
            </div>
        </a>

        <!-- 20 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingKalSel.jpg" alt="">
                    <h2 class="decreased">Provinsi Kalimantan Selatan</h2>
                </div>
            </div>
        </a>

        <!-- 21 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingKalBar.jpg" alt="">
                    <h2 class="decrease">Provinsi Kalimantan Barat</h2>
                </div>
            </div>
        </a>

        <!-- 22 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingKalTeng.png" alt="">
                    <h2 class="decreased">Provinsi Kalimantan Tengah</h2>
                </div>
            </div>
        </a>

        <!-- 23 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingSulUt.jpg" alt="">
                    <h2>Provinsi Sulawesi Utara</h2>
                </div>
            </div>
        </a>

        <!-- 24 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingSulTeng.jpg" alt="">
                    <h2 class="decreased">Provinsi Sulawesi Tenggara</h2>
                </div>
            </div>
        </a>

        <!-- 25 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingSulSel.jpeg" alt="">
                    <h2>Provinsi Sulawesi Selatan</h2>
                </div>
            </div>
        </a>

        <!-- 26 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingSulBar.jpeg" alt="">
                    <h2>Provinsi Sulawesi Barat</h2>
                </div>
            </div>
        </a>

        <!-- 27 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingSulTengah.jpg" alt="">
                    <h2 class="decrease">Provinsi Sulawesi Tengah</h2>
                </div>
            </div>
        </a>

        <!-- 28 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingGorontalo.png" alt="">
                    <h2>Provinsi Gorontalo</h2>
                </div>
            </div>
        </a>

        <!-- 29 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingNTB.jpg" alt="">
                    <h2 class="ntb"> Provinsi Nusa Tenggara Barat</h2>
                </div>
            </div>
        </a>
        
        <!-- 30 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingNTT.jpg" alt="">
                    <h2 class="ntt">Provinsi Nusa Tenggara Timur</h2>
                </div>
            </div>
        </a>

        <!-- 31 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingMalukuUtara.jpg" alt="">
                    <h2>Provinsi Maluku Utara</h2>
                </div>
            </div>
        </a>

        <!-- 32 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingMaluku.jpeg" alt="">
                    <h2>Provinsi Maluku</h2>
                </div>
            </div>
        </a>

        <!-- 33 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingPapua.jpg" alt="">
                    <h2>Provinsi Papua</h2>
                </div>
            </div>
        </a>

        <!-- 34 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingPapuaSel.jpg" alt="">
                    <h2>Provinsi Papua Selatan</h2>
                </div>
            </div>
        </a>

        <!-- 35 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingPapuaBD.png" alt="">
                    <h2>Provinsi Papua Barat Daya</h2>
                </div>
            </div>
        </a>

        <!-- 36 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingPapuaBarat.jpg" alt="">
                    <h2>Provinsi Papua Barat</h2>
                </div>
            </div>
        </a>

        <!-- 37 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingPapuaTengah.jpeg" alt="">
                    <h2>Provinsi Papua Tengah</h2>
                </div>
            </div>
        </a>

        <!-- 38 -->
        <a href="learn.html">
            <div class="card-column">
                <div class="card">
                    <img src="../../../images/LandingPapuaPeg.jpg" alt="">
                    <h2 class="decreased">Provinsi Papua Pegunungan</h2>
                </div>
            </div>
        </a>
    </div>
</body>
</html>